body {
    margin: 0;
    font-family: Inter;
    font-size: .8em;
    color: hsl(240, 38%, 20%);
    min-height: 800px;
}

.slide {
    background-image: url(images/pattern-curve.svg);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 350px 100px;
    padding-top: 2em;
    height: 100vh;

}

.slide.visible {
    display: block;
}

@media (min-width: 1020px) {

    .slide.visible {
        display: flex;
        padding: 0 8em 0 8em;
    }

}

aside {
    position: relative;
    background-image: url(images/pattern-bg.svg);
    padding: 2em 1em;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -4em;
    /* z-index: -1; */
}




aside img {
    display: block;
    height: 250px;
    width: 230px;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: 0 26px 26px -6px rgba(0, 0, 0, 0.4);
}

@media (min-width: 1020px) {

    aside {
        order: 2;
        padding: 7em 4em 2em 4em;
    }

    aside img {
        width: 400px;
        height: 410px;
    }

}
article {
    z-index: 10;
    font-weight: 200;
    font-size: 1.4em;
    padding: 1em 3.8em;
    text-align: center;
}

article span {
    display: block;
}

@media (min-width: 1020px) {

    article {
        padding: 8em 0 0 2em;
        font-size: 1.8em;
        text-align: left;
    }

    article span {
        display: inline;

    }
}

.testimonial-role {
    font-weight: 500;
    font-size: .9em;
    color: hsl(240, 18%, 77%);
}

.testimonial-author {
    font-size: .9em;
    font-weight: 500;

}

button {
    background-color: #fff;
    text-indent: 10em;
    overflow: hidden;
    width: 3em;
    height: 3.2em;
    border: 0;
    position: relative;
    left: calc(50% - 4em);
    bottom: 1.6em;

}

button + button {
    margin-left: -1em;
}


@media (min-width: 1020px) {

    button {
        bottom: 1.8em;
        left: 3em;
        width: 3.5em;
        height: 4em;
    }


}


.next {
    background-image: url(images/icon-next.svg);
    background-repeat: no-repeat;
    background-position: 70% 50%;
    background-size: .6em;
    border-radius: 0 2em 2em 0;
}

.previous {
    background-image: url(images/icon-prev.svg);
    background-repeat: no-repeat;
    background-position: 30% 50%;
    background-size: .6em;
    border-radius: 2em 0 0 2em;
}

.attribution {
    position: relative;
    top: 2em;
    font-size: 11px;
    text-align: center;


}
.attribution a {
    color: hsl(228, 45%, 44%);
}

.slide {
    display: none;
}
